body {
    background-color: #E8EDDF;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,203,92, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #F5CB5C;
}

#profile-pic {
    border-radius: 100%;
    border: 3px solid #333533;
    width: 0px;
    height: 0px;
}

#greeting {
    visibility: visible;
}

.tech-img {
    width: 70%;
    opacity: 80%;
}

strong {
    font-weight: 500;
}

.tech-box {
    /* width: 20%; */
    /* max-width: 50px; */
}


.card {
    border: 1px solid #F5CB5C;
    /* max-width: 500px; */
    margin-bottom: 5%;
}

.card-body {
    background-color: #E7EEEC;
}

.d-inline-flex {
    display: inline-flex !important;
}

@media (max-width: 992px) {

    .d-inline-flex {
        display: block !important;
    }

    .job-point {
        margin-bottom: 5%;
    }

    .company-img {
        display: none;
    }

    .company-img-long {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }

    #slideshow{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }

    #slideshow > div > img {
        max-height: 240px;
    }

    .tech-list {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .company-img-long {
        display: none;
    }

    .tech-list {
        width: 90%;
    }
}


.company-img {
    max-width: 75px;
    max-height: 75px;
    height: auto;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    background-color: #C3D5D0;
    color: #242423;
}

.card-header {
    background-color: rgb(33, 37, 41);
}

.card-text {
    color: #333533;
}

.card-text.lead {
    color: #333533;
    font-size: 1.3em;
}

.lead {
    font-size: 1.3em;
}

.text-bg {
    border-radius: 30px;
    background-color: #E8EDDF;
}

.job-heading {
    
}

.job-posting {
    margin: 5%;
}

.job-heading .card-title{
    margin-bottom: 0;
    margin-bottom: 2%;
}

.jobs-grid {
    justify-content: center;
}


h1, h3, h4, .card-header {
    font-family: 'RocknRoll One', sans-serif;
    color: #333533;
 
}

.card-header {
    color: #F5CB5C;
}

.fw-light {
    margin-bottom: 3%;
}

.job-heading {
    height: 75px;   
}

h5.card-title {
    font-family: 'RocknRoll One', sans-serif;
    color: #333533;
}

.job-description {
    margin-left: 5%;
    padding-bottom: 2%;
}

.internship {
    font-size: 0.8em;
}

.duration {
    font-size: 0.9em;
}

.lead {
    padding-left: 5px;
    padding-right: 5px;
}

.p0-thumbnail {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.figure-caption {
    white-space: initial;
}

.yellow {
    color: #F5CB5C !important;
}

p {
    color: #242423;
}

.header-content {
    z-index: 1;
}

#slideshow { 
    margin: 5px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    border-radius: 5px;
  }
  
  #slideshow > div { 
    position: absolute;  
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
  }

  #slideshow > div > img {
      width: 100%;
      object-fit: cover;
      height: fit-content;
      
  }

#particles-js{ 
    position: sticky;
    top: 0;
    /* margin-bottom: -50.5%; */
    width: auto;
    height: auto;
    left: 0;
    z-index: 0;
    background-color: #E8EDDF; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
  } 

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}

body {
    background-color: #E8EDDF;
}

