

body {
	min-width: 1880px;
	overflow:hidden;
	background-image: url("../media/background-img-blur.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	

}

#tv-frame {
	height: 600px;
	width: 700px;
	left: auto;
	top: 0;
	position: absolute;;
	z-index: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


#character {
	width: 50px;
	height: 50px;
	background-color: yellowgreen;
}

canvas:not(#joystick) {
	border: 2px solid #d3d3d3;
	background-image: url("../media/tv-bg.gif");
	position: relative; 
	width: 475px; 
	height: 390px; 
	left: 50%; 

	margin-left: -300px; /* This is half the width */ 
	margin-top: 8%;
	margin-bottom: 1%; /* This is half the height */ 
}

#joystick {
	background-color: #181818;
	position: relative;
	border-radius: 5px;
	padding: 15px;
	margin-top: 50px;
	z-index: 1;
}

.title-img {
	position: absolute;
	top: 6%;
	height: auto;
	width: 500px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	z-index: 1;
}

.content {
	
}

#wrapper {
	position: fixed;
	display: flex;
	align-items: center;
    margin-left:auto;
    margin-right:auto;
    width:1750px;
}

.action-event {
	width: 350px;
	height: 350px;
	background-color: red;
}

