:root {
	--mouse-x: 0px;
	--mouse-y: 0px;
}

#character {
	width: 50px;
	height: 50px;
	background-color: yellowgreen;

}

canvas:not(#joystick) {
	border: 2px solid #d3d3d3;
	background-color: #f1f1f1;
}

