body {
    background-color: #F5CB5C;
}

button {
    height: 100px;
}

#webcam {
    width: 95%;
    max-width: 500px;
    height: 50%;
    border: 2px solid #333533;
    border-radius: 5px;
    margin: 5px;
}

#cameraFlip {
    width: 100px;
    height: 100px;
}

#snapPhoto {
    width: 100px;
    height: 100px;
}

#cameraFlip:active {
    filter: brightness(200%);
}

#canvas {
  background-color: transparent;
  position: relative;
  width: 95%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px;
  border-radius: 5px;
}

.center-container {
    justify-content: center;
    max-height: 100vh;
    width: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}