body {
    background-color: #f3d06e;
}


.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    /* padding: 2px; */
    margin: 0;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    background-color: #F3C33F;
    margin-bottom: 5px;
    max-width: 268px;
    
}

#webcam {
    width: auto;
    max-width: 95%;
    height: 50%;
    max-height: 350px;
    border: 2px solid #333533;
    border-radius: 5px;
    margin: 5px;
    background-image: url("../media/p1/loading_animation.gif") ;
    background-color: #FBEDC5;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.icon {
    height: 55px;
    /* margin: 0 auto; */
    padding: 15px;
}

#start {
    height: 85px;
    width: 85px;
}

#start {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }


.icon:active {
    filter: brightness(200%);
}

#canvas {
  background-color: transparent;
  position: relative;
  width: 95%;
  height: 50%;
  margin: auto;
  margin-top: 5px;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px;
  border-radius: 5px;
}

.center-container {
    /* max-height: 100vh; */
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    max-width: 500px;
}

ul {
    height: 95px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F3C33F;
    border-radius: 8px;
    justify-content: center;
    flex-direction: initial;
    align-items: center;
    margin-bottom: 15px;
 }

 li {
    float: left;
    display: flex;
 }

 li:nth-child(2) {
    border-right: 2px solid #f3d06e;
    border-left: 2px solid #f3d06e;
 }