

p {
    font-family: 'DotGothic16', sans-serif;
}

.carousel-caption {
    transition: 0.5s;
}

.carousel-caption:hover {
    opacity: 0;
}

#p1-vid {
    max-height: 320px;
    margin-top: 10%;
    max-width: 98%;
}

.slide {
    margin: auto;
    max-height: 600px;
}

.slider {
    background-color: #CFDBD5;
    border-radius: 10px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-caption {
    background-color: #F5CB5C;
    opacity: 0.85;
    border-radius: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.carousel-caption h5, .carousel-caption h5 {
    color: Black;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto;
    height: 11%;
    width: 5%;
    background-color: #696868;
    border-radius: 50px;
}