@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body {
    /* background-color: #138E90 !important; */
    margin: 0;
    height: auto;
    overflow: hidden;
    background-image: url("../media/p2/p2_images/rhys-background.jpg");
    background-size: auto;
}

h1 {
  color: #b34848;
  font-family: 'Mouse Memoirs', sans-serif;
  background-color: #F8B4B4;
  border-radius: 45px;
  margin-top: 6% !important;
  font-size: 4em !important;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6262; 
}

h3, h5, p {
  font-family: 'Raleway', sans-serif;
  color: rgb(205, 255, 232);
}

audio {
  height: 0;
  width: 0;
}

button:focus {
  outline: none;
}

#attention-curtain {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  background-color: #79d6d4;
  opacity: 67%;
}


#rhys-view {
    display: none;
    position: absolute;
    width: 100%;
    top: 12%;
}

.hand-container {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 100%;
}

.hands {
  height: 84%;
}

#logo {
    width: 500px;
    margin-bottom: 10%;
}

#logo-small {
  width: 100%;
  margin-bottom: 5%;
}

#gparent-view {
    display: none;
    position: absolute;
}

#localVideo {
    width: 100%;
    display: none;
    box-shadow: 5px 10px 8px 10px #888888;
    /* border: 2px solid #474973; */
}

#remoteVideo {
    width: 100%;
    display: none;
    /* border: 2px solid #474973; */
    background-image: url("../media/p2/p2_images/loading-icon-transparent-background-3.jpg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #15A0A2;
    /* margin-top: 5%; */
    max-height: 75%;
    
}

.container {
    max-height: 75%;
    width: 100% !important;
}

.row {
  min-width: 75%;
}

#leftHand {
    position: relative;
    width: 50%;
    margin-left: -230px;
    z-index: 2;
}



#rightHand {
    position: relative;
    transform: scaleX(-1);
    width: 50%;
    margin-right: -230px;
    z-index: 2;
}

#beaver, #fox, #wolf {
  height: 450px;
  position: relative;
  z-index: 5;
}

#turtle {
  width: 450px;
  position: relative;
  z-index: 5;
}

.oma-opa-color{
  color: #F8B4B4;
}

.card {
  background-color: #15A0A2;
  border: none !important;
  border-radius: 20px !important;
}

.card-body {
  background-color: #15A0A2;
  border: none;
  border-radius: 15px !important;
  min-width: 196px;
}

#screenshot {
  width: 100%;
  margin-top: 9%;
  border-bottom: 30px solid white;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

#snap {
  width: 100%;
  background-color: #F8B4B4;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6262; 
  color: #b34848;
}

#download {
  text-decoration: none;
  font-family: 'system-ui';
  font-weight: 700;
  width: 100%;
  background-color: #F8B4B4;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6262; 
  color: #b34848;
}

#snap:focus {
  outline: none;
}


.video-elements {
    padding-top: 1%;
    min-width: 844px;
}

.mid-col {
  position: relative;
}

.call-buttons {
    padding-bottom: 5%;
    min-width: 600px;
}

#btn-client1 {
    margin-right: 15px;
    font-family: 'Raleway', sans-serif;
}

#btn-client2 {
    margin-right: 15px;
    font-family: 'Raleway', sans-serif;
}

#btn-call {
  margin-top: 15%;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  background-color: #57e423;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #3c8123; 
  color: #4ca12d;
}

#btn-end {
  margin-top: 15%;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  background-color: #F70000;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #b40303; 
  color: white;
}

#gparents-hide {
  width: 100%;
  background-color: #F8B4B4;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6262; 
  color: #b34848;
}

#get-attention-btn {
  width: 100%;
  background-color: #F8B4B4;
  border-radius: 0.8em;
  border-width: 2px;
  border-style: solid;
  border-color: #ec6262; 
  color: #b34848;
}

#get-attention-btn:disabled,
#get-attention-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.peekaboo {
  margin-top: 20%;
}

#get-attention {
  margin-top: 20%;
}

.snap-picture {
  margin-top: 20%;
}

#gparents-hide:active {
  background-color: #db8d8d;
}

#gparents-hide:focus {
  outline: none;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}



:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    /* background: var(--backgroundColor); */
  }
  
  button.big-button {
    color:var(--colorShadeA);
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }

  :root {
    --backgroundColor2: rgba(246, 241, 209);
    --colorShadeA2: #ec6262;
    --colorShadeB2: #f39c9c;
    --colorShadeC2: #F7B5B5;
    --colorShadeD2: #F8B4B4;
    --colorShadeE2: #f5cccc;
  }
  
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    /* background: var(--backgroundColor2); */
  }

  
  button.big-button2 {
    color:var(--colorShadeA2);
     padding: 1em 2em;
     border: 2px solid var(--colorShadeA2);
    border-radius: 1em;
    background: var(--colorShadeE2);
    transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button.big-button2::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC2);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB2), 0 0.75em 0 0 var(--colorShadeA2);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button2:hover {
    background: var(--colorShadeD2);
    transform: translate(0, 0.375em);
  }
  
  button.big-button2:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button2:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button2:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB2), 0 0.25em 0 0 var(--colorShadeB2);
  }